<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hand cards</title>
</head>
<body>
<h1>Tus cartas son:</h1>
<h2 th:each="card : ${hand}">
<a th:text="${card.number}"></a><a th:text="${card.kind}"></a>
</h2>
<h2>Tu puntuación es: <span th:text="${score}"></span></h2>
<h1>Pide carta o plantate</h1>
<form action="/blackjack/getcard">
    <input type="submit" value="Get card!"/>
</form>
<form action="/blackjack/stand">
    <input type="submit" value="Stand"/>
</form>
</body>
</html>